*.VC.db
*.VC.opendb
Bin/*
.vs/*
oidn/
ispc-v1.14.1-windows/
tbb/
CommonPasses/Data/Bistro_v5_1/
CommonPasses/Data/EmeraldSquare_v4/
CommonPasses/Data/pink_room/
CommonPasses/Data/ZeroDay_v1/
CommonPasses/Data/simpleScene/
CommonPasses/Data/SunTemple_v3/
11-OneShadowRayPerPixel/phat/
11-OneShadowRayPerPixel/reservoirM/
11-OneShadowRayPerPixel/worldPos/
11-OneShadowRayPerPixel/random/
11-OneShadowRayPerPixel/shade/
11-OneShadowRayPerPixel/temp/
CommonPasses/Data/Pub/